<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>animatedTransitionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEE4331F1E69659000A29200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE433381E69659000A29200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEE433431E69659100A29200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
